<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
	<title>Responsive Web Mobile</title>

		<!-- Included Bootstrap CSS Files -->
	<link rel="stylesheet" href="./js/bootstrap/css/bootstrap.min.css" />
	
	<!-- Just include this Css file --> 
	<link rel="stylesheet" href="./css/jquery.carousel.fullscreen.css" />



	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Included Bootstrap CSS Files -->
	<link rel="stylesheet" href="./js/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="./js/bootstrap/css/bootstrap-responsive.min.css" />

	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css"></style>
    

	<!-- Includes FontAwesome -->
	<link rel="stylesheet" href="./css/font-awesome/css/font-awesome.min.css" />

	<!-- Css -->    
	<link rel="stylesheet" href="./css/style.css" />

	<!-- Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Economica:400,700,700italic' rel='stylesheet' type='text/css'>

</head>
<body>

	<!-- Navbar -->
	<div class="navbar-left">
		<ul class="nav">
			<li>
				<a class="scroll enabled" href="index.html" title="Home">
					<i class="icon-home"></i>
					<span class="arrow"> </span>
				</a>
			</li>
			<li>
				<a class="scroll" href="#page2" title="Services">
					<i class="icon-desktop"></i>
					<span class="arrow"> </span>
				</a>
			</li>
			<li>
				<a class="scroll" href="#page3" title="Portfolio">
					<i class="icon-info-sign"></i>
					<span class="arrow"> </span>
				</a>
			</li>
			<li>
				<a class="scroll" href="#page4" title="About Us">
					<i class="icon-group"></i>
					<span class="arrow"> </span>
				</a>
			</li>
			<li>
				<a class="scroll" href="#page5" title="Contact">
					<i class="icon-envelope-alt"></i>
					<span class="arrow"> </span>
				</a>
			</li>

		</ul>
	</div>
	<!-- /Navbar -->


	<!-- Signup  -->
		<div id="page1" class="page bgcolor center">
		<div class="row">
			<div class="col-md-12">
			   <!--  <img src="./img/bg_01.jpg" alt="" /> -->
				   <div class="container">    
						<div id="loginbox" style="margin-top:90px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
							<div class="panel panel-info"  style="margin-bottom:200px;">
									<div class="panel-heading">
										<div class="panel-title">Search For A Business Development Service Provider Near You!</div>
										
									</div>     

									<div style="padding-top:30px" class="panel-body" >

										<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
											
										<form id="loginform" class="form-horizontal" role="form">
													
											<div style="margin-bottom: 25px" class="input-group">
														<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
														<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">                                        
													</div>
												
											<div style="margin-bottom: 25px" class="input-group">
														<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
														<input id="login-password" type="password" class="form-control" name="password" placeholder="password">
											</div>
													
											<hr>

											<div class="input-group col-xs-12">	
												<br>
													<div border-top: 1px solid#888; padding-top:15px; font-size:85%> SignUp to recieve notifications </div>
												</div>


												<div style="margin-top:10px" class="form-group">
													<!-- Button -->

													<div class="col-sm-12 controls">
													  <a id="btn-login" href="#" class="btn btn-success">Login  </a>
													  <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>

													</div>
												</div>


												
											</form>     
										</div>                     
									</div>  
						</div>
						 
					</div>
					</div>
					</div>
					</div>
	<!-- /SignUp -->



</body>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</html>