<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
	<title>Responsive Web Mobile</title>

		<!-- Included Bootstrap CSS Files -->
	<link rel="stylesheet" href="./js/bootstrap/css/bootstrap.min.css" />
	
	<!-- Just include this Css file --> 
	<link rel="stylesheet" href="./css/jquery.carousel.fullscreen.css" />



	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Included Bootstrap CSS Files -->
	<link rel="stylesheet" href="./js/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="./js/bootstrap/css/bootstrap-responsive.min.css" />

	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
	<style type="text/css"></style>
	

	<!-- Includes FontAwesome -->
	<link rel="stylesheet" href="./css/font-awesome/css/font-awesome.min.css" />

	<!-- Css -->    
	<link rel="stylesheet" href="./css/style.css" />

	<!-- Google Font -->
	<link href='http://fonts.googleapis.com/css?family=Economica:400,700,700italic' rel='stylesheet' type='text/css'>

</head>
<body>

	<!-- Navbar -->
	<div class="navbar-left">
		<ul class="nav">
			<li>
				<a class="scroll enabled" href="#page1" title="Home">
					<i class="icon-home"></i>
					<span class="arrow"> </span>
				</a>
			</li>
			<li>
				<a class="scroll" href="#page2" title="Services">
					<i class="icon-desktop"></i>
					<span class="arrow"> </span>
				</a>
			</li>
			<li>
				<a class="scroll" href="#page3" title="Portfolio">
					<i class="icon-info-sign"></i>
					<span class="arrow"> </span>
				</a>
			</li>
			<li>
				<a class="scroll" href="#page4" title="About Us">
					<i class="icon-group"></i>
					<span class="arrow"> </span>
				</a>
			</li>
			<li>
				<a class="scroll" href="#page5" title="Contact">
					<i class="icon-envelope-alt"></i>
					<span class="arrow"> </span>
				</a>
			</li>

		</ul>
	</div>
	<!-- /Navbar -->


	<!-- Signup  -->
		<div id="page1" class="page bgcolor center">
		<div class="row">
			<div class="col-md-12">
			   <!--  <img src="./img/bg_01.jpg" alt="" /> -->
				   <div class="container">    
						<div id="loginbox" style="margin-top:90px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
							<div class="panel panel-info"  style="margin-bottom:200px;">
									<div class="panel-heading">
										<div class="panel-title">Sign In</div>
										<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>
									</div>     

									<div style="padding-top:30px" class="panel-body" >

										<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
											
										<form id="loginform" class="form-horizontal" role="form">
													
											<div style="margin-bottom: 25px" class="input-group">
														<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
														<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="username or email">                                        
													</div>
												
											<div style="margin-bottom: 20px" class="input-group">
														<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
														<input id="login-password" type="password" class="form-control" name="password" placeholder="password">
													</div>
													
											<div class="input-group style="margin-top:6px"">
												<div class="checkbox">
													<label>
													  <input id="login-remember" type="checkbox" name="remember" value="1"> Remember me
													</label>
												</div>
											</div>


												<div style="margin-top:10px" class="form-group">
													<!-- Button -->
														<div style="margin-left:17px;">
												    		<button type="button" class="col-xs-offset-1 col-xs-9 btn btn-success"> &nbsp Login  </button>
												    	</div>

													    <div >
															<div class="col-xs-offset-1 col-xs-5">
																<button type="button" class="btn btn-primary fb"><i class="icon-facebook-sign icon-large"></i>  Login with Facebook</button>
															</div>
															
															<div class="col-xs-offset-0 col-xs-5 gmail">
																<button type="button" class="btn btn-primary"><i class="icon-google-plus-sign icon-large gmail"></i> &nbsp  login with Gmail </button>
															</div> 	
														</div>	
												</div>

											

												<div class="form-group">
				                                    <div class="col-md-12 control signup">
				                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
				                                            Don't have an account! 
				                                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
				                                            Sign Up Here
				                                        </a>
				                                        </div>
				                                    </div>
				                                </div>    
											</form>     

										</div>                     
									</div>  
						</div>
						<div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
									<div class="panel panel-info">
										<div class="panel-heading">
											<div class="panel-title">Sign Up</div>
											<div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
										</div>  
										<div class="panel-body" >
											<form id="signupform" class="form-horizontal" role="form">
												
												<div id="signupalert" style="display:none" class="alert alert-danger">
													<p>Error:</p>
													<span></span>
												</div>
													
												
												  
												<div class="form-group">
													<label for="email" class="col-md-3 control-label">Email</label>
													<div class="col-md-9">
														<input type="text" class="form-control" name="email" placeholder="Email Address">
													</div>
												</div>

												<div class="form-group">
													<label for="phone" class="col-md-3 control-label">Phone Num</label>
													<div class="col-md-9">
														<input type="text" class="form-control" name="email" placeholder="Phone Number">
													</div>
												</div>
													
												<div class="form-group">
													<label for="firstname" class="col-md-3 control-label">First Name</label>
													<div class="col-md-9">
														<input type="text" class="form-control" name="firstname" placeholder="First Name">
													</div>
												</div>
												<div class="form-group">
													<label for="lastname" class="col-md-3 control-label">Last Name</label>
													<div class="col-md-9">
														<input type="text" class="form-control" name="lastname" placeholder="Last Name">
													</div>
												</div>
												<div class="form-group">
													<label for="password" class="col-md-3 control-label">Password</label>
													<div class="col-md-9">
														<input type="password" class="form-control" name="passwd" placeholder="Password">
													</div>
												</div>
												
												<div class="form-group">
													<!-- Button -->                                        
													<div class="col-md-offset-3 col-md-7">
														<button id="btn-signup" type="button" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
														<span style="margin-left:8px;"></span>  
													</div>
												</div>
												
												<div  class="form-group " style="border-top: 1px solid ; padding-top:20px">
													
													<div class="col-xs-offset-1 col-xs-5">
														<button type="button" class="btn btn-primary fb"><i class="icon-facebook-sign icon-large"></i>   Sign Up with Facebook</button>
													</div>
													
													<div class="col-xs-offset-0 col-xs-5 gmail">
														<button type="button" class="btn btn-primary"><i class="icon-google-plus-sign icon-large gmail"></i> Sign Up with Gmail </button>
													</div> 	
												</div>
											</form>
										 </div>
									</div>

							   
							   
								
						 </div> 
					</div>
					
								

							</div>
						</div>
					</div>
	<!-- /SignUp -->



</body>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</html>